<h2 class="admin">Create Your Link</h2>

<%= form_for(@link, url: admin_create_link_path(@link)) do |f| %>
  <ul class="admin-list">
    <li class="field">
      <%= f.text_field :url, autofocus: true, autocomplete: "off", value: "url goes here..." %>
    </li>

    <li class="field">
      <%= f.label :title, :class=> "title-header" %>
      <p class="url-title"></p>
    </li>

    <li class="actions">
      <%= f.submit "Save Link" %>
    </li>
  </ul>
<% end %>
