* {
  box-sizing: border-box;
}

html, body {
  background: lightblue;
  font-family: Georgia, Times, "Times New Roman", serif;
}

a {
  text-decoration: none;
}

li {
  padding:10px 0;
}

.user_nav {
  width: 100%;
  text-align: right;
  padding:10px;
}

.title-header, .url-title {
  opacity:0;
  transition: opacity .4s;
}

.url-title {
  background-color: rgba(255,255,255,.25);
  padding: 10px;
  margin-left: -10px;
}

.flash-in {
  opacity:1;
}

.admin-list {
  label {
    display:block;
    margin-bottom:8px;
  }
}
