.site-title {
  background:darkblue;
  padding:24px 0;
  text-align: center;
  a {
    font-size:30px;
    color:lightblue;
  }
}

.list {
  max-width:420px;
  margin:auto;
  > ul {
    li {
      padding:10px 0
    }
  }
}
