// layout stuff
.content-wrap {
  max-width:480px;
  margin: 24px auto;
}


.site-title {
  background:darkblue;
  padding:24px 0;
  text-align: center;
  a {
    font-size:48px;
    color:lightblue;
  }
}




.list {
  .date {
    width: 100%;
    display:block;
    border-bottom:1px solid darkblue;
    text-align: center;
    padding-bottom: 20px;
  }
  > ul {
    li {
      a {
        font-size:18px;
        color:darkblue;
        &:visited {
          color:#576cb9;
        }
      }
    }
  }
}
