.site-title {
  background:darkblue;
  padding:24px 0;
  text-align: center;
  a {
    font-size:48px;
    color:lightblue;
  }
}

.list {
  max-width:420px;
  margin: auto;
  .date {
    width: 100%;
    display:block;
    border-bottom:1px solid darkblue;
    text-align: center;
    padding: 20px 0;
  }
  > ul {
    li {
      padding:10px 0;
      a {
        font-size:18px;
        color:darkblue;
        &:visited {
          color:#898dbb;
        }
      }
    }
  }
}
