$darkColor:#250D45;
$color-mon: #00AEEF;
$color-tue: #5DA546;
$color-wed: #FED500;
$color-thur: #F6861F;
$color-fri: #E7008C;
$color-weekend: #6e6e6e;

@mixin content($color-main) {
  $visitedLinkColor:lighten( $color-main, 30% );
  background: $color-main;
  color: $color-main;
  h1 a {color:$color-main}
  .list a:visited { color: $visitedLinkColor; }
  //.notice, .alert { color:$color-main; }
  .icon-gear { fill:$color-main; }
  input { color:$color-main; }
}


body.saturday, body.sunday, body.default { @include content($color-weekend);
  //.weekend-message {display:block}
}

body.monday{ @include content($color-mon); }
body.tuesday { @include content($color-tue); }
body.wednesday { @include content($color-wed); }
body.thursday { @include content($color-thur); }
body.friday { @include content($color-fri); }
